<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Group Test Suite" verbose="1">
    <test name="Group Test" preserve-order="true">
        <groups>
            <run>
                <include name="main" />
                <!--include name="loginIssues" /-->
                <include name="login" />
                <!--include name="signup" />
                <include name="newsfeed" /-->
                <include name="groupsTab" />
                <!--include name="requestsTab" />
                <include name="contactsTab" />
                <include name="notificationsTab" /-->
            </run>
        </groups>

        <classes>
            <class name="PTTest">
                <methods>
                    <exclude name="loginWithInvalidCredentials" />
                    <exclude name="goToGroupsTab" />
                    <exclude name="loadGroups" />
                    <exclude name="addGroup" />
                </methods>
            </class>
        </classes>
    </test>
</suite>